form(
  method="POST"
  action= editMode ? "/question/edit/" + data.id : "/question/new"
  enctype="application/json"
)
  <div class="form-group">
    <label>Intitulé</label>
    input(
      id="title"
      name="title"
      value= (data === undefined) ? '' : data.title 
    )
  </div>

  <div class="form-group">
    <label>Bonne réponse</label>
    input(
      name="goodAnswer"
      value= (data === undefined) ? '' : data.goodAnswer 
    )
  </div>

  <div class="form-group">
    <label>Mauvaise réponse 1</label>
    input(
      name="badAnswer1"
      value= (data === undefined) ? '' : data.badAnswer1 
    )
  </div>

  <div class="form-group">
    <label>Mauvaise réponse 2</label>
    input(
      name="badAnswer2"
      value= (data === undefined) ? '' : data.badAnswer2 
    )
  </div>

  <div class="form-group">
    <label>Mauvaise réponse 3</label>
    input(
      name="badAnswer3"
      value= (data === undefined) ? '' : data.badAnswer3
    )
  </div>

  <div class="form-group">
    <label>Indice</label>
    input(
      name="hint"
      value= (data === undefined) ? '' : data.hint 
    )
  </div>

  <div class="form-group">
    <label>Categorie</label>

    select(
      name="category"
    )
      each val in categories
        option(
          value= val.id
          selected= ((data === undefined) ? (false) : (data.category.id === val.id))
        )= val.name
  </div>

  <div class="form-group">
    <label>Difficulté</label>

    select(
      name="difficulty"
      value= (data === undefined) ? '' : data.difficulty
    )
      each val in difficulties
        option(
          selected= ((data === undefined) ? (false) : (data.difficulty === val))
        )= val
  </div>

  <button type="submit">Valider</button>
